:7070 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / prometheus:7070 {
            transparent
        }

    errors stderr
    tls off
}

:7073 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / alertmanager:7073 {
            transparent
        }

    errors stderr
    tls off
}

:7071 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / pushgateway:7071 {
            transparent
        }

    errors stderr
    tls off
}

:4000 {
    proxy / grafana:4000 {
            transparent
            websocket
        }

    errors stderr
    tls off
}