:7070 {
    basic_auth /  {$ADMIN_USER} {ADMIN_PASSWORD_HASH}
    proxy / prometheus:7070 {
            transparent
        }

    errors stderr
    tls off
}

:7073 {
    basic_auth /  {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / alertmanager:7073 {
            transparent
        }

    errors stderr
    tls off
}

:7071 {
    basic_auth /  {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / pushgateway:7071 {
            transparent
        }

    errors stderr
    tls off
}

:3000 {
    proxy / grafana:3000 {
            transparent
            websocket
        }

    errors stderr
    tls off
}